<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400,400i|Noto+Sans:400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <title>Register</title>
</head>
<body class="register">
    <div class="register">
        <form method="POST" class="form-register">
            <h2>Register</h2>
            <div class="form-group full-name">
                <label>Full name</label>
                <input type="text" class="form-control register-input" id="fullname" placeholder="Enter fullname" name="fullname">
            </div>
            <div class="form-group email">
                <label>Email</label>
                <input type="email" class="form-control register-input" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group user-name">
                <label>Username</label>
                <input type="text" class="form-control register-input" id="username" placeholder="Enter username" name="username">
            </div>
            <div class="form-group password">
                <label>Password</label>
                <input type="password" class="form-control register-input" id="password" placeholder="Enter password" name="password">
            </div>
            <div class="form-group Deparment">
                <label>Choose Deparment:</label><br>
                <input name ="roleNotification" type="checkbox" value="Phong CTHSSV" >Phòng CTHSSV <br>
                <input name ="roleNotification" type="checkbox" value="Phong Dai Hoc" >Phòng Đại học<br>
                <input name ="roleNotification" type="checkbox" value="Phong Sau dai hoc" >Phòng Sau đại học<br>
                <input name ="roleNotification" type="checkbox" value="Phong dien toan va may tinh"> Phòng điện toán và máy tính<br>
                <input name ="roleNotification" type="checkbox" value="Phong khao thi va kiem dinh chat luong" >Phòng khảo thí và kiểm định chất lượng<br>
                <input name ="roleNotification" type="checkbox" value="Phong tai chinh" >Phòng tài chính<br>
                <input name ="roleNotification" type="checkbox" value="TDT Creative Language Center" >TDT Creative Language Center<br>
                <input name ="roleNotification" type="checkbox" value="Trung tam tin hoc" >Trung tâm tin học<br>
                <input name ="roleNotification" type="checkbox" value="Trung tam SDT" >Trung tâm SDTC<br>
                <input name ="roleNotification" type="checkbox" value="Trung tam ATEM" >Trung tâm ATEM<br>
                <input name ="roleNotification" type="checkbox" value="Trung tam hop tac doanh nghiep va cuu sinh vien" >Trung tâm hợp tác doanh nghiệp và cựu sinh viên<br>
                <input name ="roleNotification" type="checkbox" value="Khoa luat" >Khoa Luật<br>
                <input name ="roleNotification" type="checkbox" value="Trung tam ngoai ngu" >Trung tâm ngoại ngữ - tin học – bồi dưỡng văn hóa<br>
                <input name ="roleNotification" type="checkbox" value="Vien chinh sach kinh te va kinh doanh" >Viện chính sách kinh tế và kinh doanh<br>
                <input name ="roleNotification" type="checkbox" value="Khoa MTCN" >Khoa Mỹ thuật công nghiệp<br>
                <input name ="roleNotification" type="checkbox" value="Khoa Dien-Dien Tu">Khoa Điện – Điện tử<br>
                <input name ="roleNotification" type="checkbox" value="Khoa CNTT" >Khoa Công nghệ thông tin <br>
                <input name ="roleNotification" type="checkbox" value="Khoa QTKD" >Khoa Quản trị kinh doanh<br>
                <input name ="roleNotification" type="checkbox" value="Khoa MTBHLD" >Khoa Môi trường và bảo hộ lao động<br>
                <input name ="roleNotification" type="checkbox" value="Khoa LDCD" >Khoa Lao động công đoàn<br>
                <input name ="roleNotification" type="checkbox" value="Khoa TCNH" >Khoa Tài chính ngân hàng<br>
                <input name ="roleNotification" type="checkbox" value="Khoa GDQT">Khoa giáo dục quốc tế<br>
            </div><br>
            <button type="submit " name="login " class="btn btn-info btn-create ">Create</button><br><br>
        </form>
    </div>
</body>

</html>